body{
    background-color: rgba(238, 236, 236, 0.658);
   
}

.picture{
    position: relative;
}
.glass .title_glass{
 background-color: rgba(0, 0, 0, 0.836);
}
.picture .matkinh{
position: absolute;
top: 26%;
left: 23%;
opacity: 0.8;
}
h4,p{
    margin-bottom: 0;
}
.picture .thongTin{
    background-color: rgba(247, 131, 111, 0.582);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
    
}
.picture .thongTin p{
    font-size: 13px;
}